# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
file_report.json
test_report.json

# GitHub
.github/

# Documentation
README.md
*.md